<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
   <header>
<div class=".video">
    <video class="video" src="../public/image/video.mp4" autoplay loop muted></video>
</div>
    
<div class="nav">
    <div class="nav1">
        
        <div class="nav1-card1"><h3>desnos@gmail.com</h3> </div>
        <div class="nav1-card1"> <h3>0767056234</h3></div>
        <div class="nav1-card1"></div>
        <div class="nav1-card1"></div>
    </div> 
<nav> 
    <div class="left">
        <img src="../public/image/airdg_logo-1.png" alt="">
    </div>

    <div class="right">
        <a href="">INFOS AVIONS</a>
        <a href="">ACHAT</a>
        <a href="">VENTE</a>
        <a href="">GESTION</a>
        <a href="">CO-PROPRIETE</a>
        <a href="">NOS SERVICES</a>
        <a href="">BAPTEME</a>
    </div>
</nav>
    
</div>  
</header>

  <div class="box1">
   <div class='box1_card'> 
    <h1>Les etapes de notre travail</h1>

    <p>AIR DG est une société de service aérien. Nous proposons des solutions complètes adaptées aux demandes de déplacements spécifiques des entreprises.</p>
    <p>
        En fonction de votre cahier des charges (destinations, fréquence des vols, nombre de passagers, budget), nous définissons la solution qui vous convient le mieux.
    </p>

  
     <div class="box1_card1">
        <div class="box1_item">
            <h2>Choix de l’appareil</h2>
            <p>Vous ne savez pas quel avion correspond à vos besoins ? Nous vous guiderons dans votre achat.</p>
        <button> PLUS D'INFOS</button>

        </div>
        <div class="box1_item">
            <h2>Choix de l’appareil</h2>
            <p>Vous ne savez pas quel avion correspond à vos besoins ? Nous vous guiderons dans votre achat.</p>
            <button> PLUS D'INFOS</button>

        </div>
        <div class="box1_item">
            <h2>Choix de l’appareil</h2>
            <p>Vous ne savez pas quel avion correspond à vos besoins ? Nous vous guiderons dans votre achat.</p>
            <button> PLUS D'INFOS</button>

        </div>
        <div class="box1_item">
            <h2>Choix de l’appareil</h2>
            <p>Vous ne savez pas quel avion correspond à vos besoins ? Nous vous guiderons dans votre achat.</p>
            <button> PLUS D'INFOS</button>

        </div>
        
       

    </div>
    </div>
 

   <div class="box2">

      <div class="box2-card1">
        <h3>Une fois que vous aurez goûté au vol, vous marcherez à jamais les yeux tournés vers le ciel, car c’est là que vous êtes allés, et c’est là que toujours vous désirerez ardemment retourner.</h3>
        <h1>Léonard de Vinci</h1>
    </div>
  </div>

 <!-- <div class="box3">

  </div>--> 
  <div class="box4">
            <img src="../public/image/parallax4.jpeg" alt="">
            <div class="box4_card1">
                <h1>Trouvez votre formule de gestion</h1>
                <button>COMPARATIF</button>
            </div>
  </div>
   <div class="box5">
    <div class="box5-card1">
        <i class="fa-solid fa-cannabis"></i>
       <p>Notre rôle pour votre vol</p>
       <button>PLUS D'INFOS</button>
    </div>
    <div class="box5-card2">
        <i class="fa-solid fa-cannabis"></i>
        <p>Notre rôle pour votre vol</p>
        <button>PLUS D'INFOS</button>
     </div>
     <div class="box5-card3">
        <i class="fa-solid fa-cannabis"></i>
        <p>Notre rôle pour votre vol</p>
        <button>PLUS D'INFOS</button>
     </div>
    
  </div> 
  <!-- <div class="box6"> </div> -->
  <div class="box7">
    <img src="../public/image/L39.png" alt="">
    <div class="box7_card1">
        <h1>Trouvez votre formule de gestion</h1>
        <button>COMPARATIF</button>
    </div>
</div>
  

  <div class="box9">
    <div class="box9_card">
        <h1>Nos services vous intéresse ?</h1>
        <button>RESERVER UN VOL D'ESSAI !</button>
    </div>
    
  </div>



<footer>

<div class="foot1">
    <p>© 2017 Air-dg Tous droits réservés. | Contact | Mentions légales</p>
</div>

<div class="foot2"><i class="fa-brands fa-facebook"></i> <i class="fa-brands fa-twitter-square"></i></div>


</footer>


    <script src="../public/javscript/script.js"></script>
</body>
</html>