<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
   <header>
<div class=".video">
    <video class="video" src="image/video.mp4" autoplay loop muted></video>
</div>
    
<div class="nav">
    <div class="nav1">
        
        <div class="nav1-card1"><h3>desnos@gmail.com</h3> </div>
        <div class="nav1-card1"> <h3>0767056234</h3></div>
        <div class="nav1-card1"></div>
        <div class="nav1-card1"></div>
    </div> 
<nav> 
    <div class="left">
        <img src="../public/image/airdg_logo-1.png" alt="">
    </div>

    <div class="right">
        <a href="">INFOS AVIONS</a>
        <a href="">ACHAT</a>
        <a href="">VENTE</a>
        <a href="">GESTION</a>
        <a href="">CO-PROPRIETE</a>
        <a href="">NOS SERVICES</a>
        <a href="">BAPTEME</a>
    </div>
</nav>
    
</div>  
</header>

  <div class="box1">
   <div class='box1_card'> 
    <h1>Les etapes de notre travail</h1>

    <p>AIR DG est une société de service aérien. Nous proposons des solutions complètes adaptées aux demandes de déplacements spécifiques des entreprises.</p>
    <p>
        En fonction de votre cahier des charges (destinations, fréquence des vols, nombre de passagers, budget), nous définissons la solution qui vous convient le mieux.
    </p>

  
     <div class="box1_card1">
        <div class="box1_item">
            <h2>Choix de l’appareil</h2>
            <p>Vous ne savez pas quel avion correspond à vos besoins ? Nous vous guiderons dans votre achat.</p>
        <button> PLUS D'INFOS</button>

        </div>
        <div class="box1_item">
            <h2>Choix de l’appareil</h2>
            <p>Vous ne savez pas quel avion correspond à vos besoins ? Nous vous guiderons dans votre achat.</p>
            <button> PLUS D'INFOS</button>

        </div>
        <div class="box1_item">
            <h2>Choix de l’appareil</h2>
            <p>Vous ne savez pas quel avion correspond à vos besoins ? Nous vous guiderons dans votre achat.</p>
            <button> PLUS D'INFOS</button>

        </div>
        <div class="box1_item">
            <h2>Choix de l’appareil</h2>
            <p>Vous ne savez pas quel avion correspond à vos besoins ? Nous vous guiderons dans votre achat.</p>
            <button> PLUS D'INFOS</button>

        </div>
        
       

    </div>
    </div>
 

  <!-- <div class="box2">

      <div class="box2-card1">
        <h3>Une fois que vous aurez goûté au vol, vous marcherez à jamais les yeux tournés vers le ciel, car c’est là que vous êtes allés, et c’est là que toujours vous désirerez ardemment retourner.</h3>
      <h1>Léonard de Vinci</h1>
    </div>
  </div>

  <div class="box3">

  </div>
  <div class="box4">
    
            <div>
                <h1>Trouvez votre formule de gestion</h1>
                <button>COMPARATIF</button>
            </div>
  </div>

  <div class="box5">
    <div class="box5-card1">
       <i></i>
       <p></p>
       <button>PLUS D'INFOS</button>
    </div>
    
  </div> --> -->



<footer>

<div><p>© 2017 Air-dg Tous droits réservés. | Contact | Mentions légales</p></div>
<div></div>


</footer>


    <script src="../public/javscript/script.js"></script>
</body>
</html>