<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
  
<div class=" contener">
  
  <div class="imag">
   <img src="image/interior-design-g0b2f94441_1280.jpg" alt="">
  </div>

  <div>
     
     <div class="connexion">
      <form action="">
     
       <h1>connectez vous</h1>

        <p>nom utilisateur</p>
        <input type="text" placeholder="adress e-mail" id="umail" >
        <p>mot de passe</p>
        <input type="text" placeholder="saisir mot de passe" id="upass">
        <button type='button'id="con" onclick="check()" >connexion </button>
      </form>
     </div>
    
 </div> 
  <script src="javascript/script.js"></script>
</body>
</html>