<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="modification">
        <form action="">
       
         <h1>connectez vous</h1>
  
          <p>Nom</p>
          <input type="text"  name="nom">
          <p>numero</p>
          <input type="tel"  name="telephone">
          <p>mot de passe</p>
          <input type="password" placeholder="saisir mot de passe" name="password">

          <button type='submit' >modification</button>
        </form>
       </div>

    
</body>
</html>